@model IEnumerable<Autopark_Web_Version.Models.Models.Orders>

@{
    ViewData["Title"] = "AutoPark";
    ViewData["Type"] = null;
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Orders" asp-action="Create">Add</a>
</p>
<table class="table">
    <tr>
        <th><a>Order ID</a></th>
        <th><a>Venicle </a></th>
        <th><a>Order Date</a></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderId</td>
            <td>@item.VenicleId</td>
            <td>@item.Date</td>

            <td>
                <a asp-controller="OrderDetails" asp-action="Create" asp-route-id="@item.OrderId">Add details</a>
                <a asp-controller="OrderDetails" asp-action="Details" asp-route-id="@item.VenicleId">Details</a>
            </td>
        </tr>
    }
</table>
