@model Autopark_Web_Version.Models.Venicles
@{
    ViewData["Title"] = "Details";
}
<div>
    <dl class="dl-horizontal">
        <dt>VenicleType</dt>
        <dd>
            @Model.VeniclesTypeId
        </dd>

        <dt>Engine</dt>
        <dd>
            @Model.Engine
        </dd>

        <dt>ModelName</dt>
        <dd>
            @Model.ModelName
        </dd>

        <dt>RegistrationNumber</dt>
        <dd>
            @Model.RegistrationNumber
        </dd>

        <dt>Weight</dt>
        <dd>
            @Model.Weight
        </dd>

        <dt>Year</dt>
        <dd>
            @Model.Year
        </dd>

        <dt>Color</dt>
        <dd>
            @Model.Color
        </dd>

        <dt>Mileage</dt>
        <dd>
            @Model.Mileage
        </dd>

        <dt>Tank</dt>
        <dd>
            @Model.Tank
        </dd>
    </dl>

    <div>
        <a asp-controller="Venicle" asp-action="Index">Back</a>
    </div>
</div>