@model IEnumerable<Autopark_Web_Version.Models.Venicles>

@{
    ViewData["Title"] = "AutoPark";
    ViewData["Type"] = null;
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Venicle" asp-action="Create">Add</a>
</p>
<table class="table">
    <tr>
        <th><a>VenicleId</a></th>
        <th>@Html.ActionLink("VeniclesTypeId", "Index", new { sortParam = ViewBag.VenicleTypeSortParam })</th>
        <th>@Html.ActionLink("Engine", "Index", new { sortParam = ViewBag.EngineSortParam })</th>
        <th>@Html.ActionLink("ModelName", "Index", new { sortParam = ViewBag.ModelNameSortParam })</th>
        <th>@Html.ActionLink("RegistrationNumber", "Index", new { sortParam = ViewBag.RegistrationNumberSortParam })</th>
        <th>@Html.ActionLink("Weight", "Index", new { sortParam = ViewBag.WeightSortParam })</th>
        <th>@Html.ActionLink("Year", "Index", new { sortParam = ViewBag.YearSortParam })</th>
        <th>@Html.ActionLink("Color", "Index", new { sortParam = ViewBag.ColorSortParam })</th>
        <th>@Html.ActionLink("Mileage", "Index", new { sortParam = ViewBag.MileageSortParam })</th>
        <th>@Html.ActionLink("Tank", "Index", new { sortParam = ViewBag.TankSortParam })</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {  
        <tr>
            <td>@item.VenicleId</td>
            <td>
                @{
                    if (item.VeniclesTypeId == 1)                    
                        ViewData["Type"] = "Bus";
                    else if (item.VeniclesTypeId == 2)
                        ViewData["Type"] = "Car";
                    else if (item.VeniclesTypeId == 3)
                        ViewData["Type"] = "Rink";
                    else
                        ViewData["Type"] = "Tractor";
                } 
                @ViewData["Type"]
            </td>
            <td>@item.Engine</td>
            <td>@item.ModelName</td>
            <td>@item.RegistrationNumber</td>
            <td>@item.Weight</td>
            <td>@item.Year</td>
            <td>@item.Color</td>
            <td>@item.Mileage</td>
            <td>@item.Tank</td>

            <td>
                <a asp-controller="Venicle" asp-action="Edit" asp-route-id="@item.VenicleId">Change</a> |
                <a asp-controller="Venicle" asp-action="Delete" asp-route-id="@item.VenicleId">Delete</a>
                <a asp-controller="Venicle" asp-action="Details" asp-route-id="@item.VenicleId">Details</a>
            </td>
        </tr>
    }
</table>
